body {
    overflow: hidden;
}
.container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.circle {
    perspective: 700px;
    /* transform-style: preserve-3d; */
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    animation: color 1s linear infinite;
}

@keyframes color {
    0% {
        background-color: black;
    }
    50% {
        background-color: gray;
        transform: rotateY(180deg);
    }
    100% {
        background-color: black;
    }
}